
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import 'node_modules/bootstrap/dist/css/bootstrap.min';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$bootstrap-sass-asset-helper: true;
$font-size-base: 12px;
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// AdminLTE
@import 'node_modules/admin-lte/dist/css/AdminLTE.min';
@import 'node_modules/admin-lte/dist/css/skins/_all-skins.min';

// Font-Awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";